#banner {
    width: 100%;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 5px;
}

.principal {
    width: 940px;
    margin: 0 auto;
    padding: 15px 0;
    line-height: 30px;
}

p {
    font-size: 18px;
    text-align: center;
}

#missao {
    font-size: 20px;
    font-weight: bold;
}

em strong {
    color: brown;
}

.beneficios {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
    font-size: 22px;
}

.beneficios-lista {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    line-height: 50px;
    text-decoration: underline;
    color: brown;
}

.beneficios-lista:hover {
    color: red;
}

.itens {
    font-style: italic;
}

.imagemBeneficios {
    width: 49%;
}
